/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);*/

@font-face {
	font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Roboto-Slab;
    src: url(../fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}
@font-face {
    font-family: Roboto-Slab;
    src: url(../fonts/Roboto_Slab/RobotoSlab-Bold.ttf);
    font-weight: bold;
}
