/* gameplay styling */

.content {
	/*min-height: 600px;*/
}
.content h2 {
	margin-top: 0;
}
#error {
	position: relative;
	top: 5px; left: 20px;
}

/* cards */

#player-hand {
	background: #eee;
	margin: -20px -20px 0;
	padding: 20px 0;
}
#player-hand.active {
	margin-bottom: -20px;
}
#player-hand .cards {
	text-align: center;
}
.cards li {
	display: inline-block;
	background: #fff;
	border: solid 1px #111;
	width: 182px;
	height: 240px;
	position: relative;
	margin-right: 20px;
	overflow: hidden;
}
.cards.small li {
	width: 130px;
	height: 170px;
	margin-right: 8px;
}
.cards.small li:nth-child(2), .cards.small li:nth-child(3) {
	width: 131px;
}
.cards li:last-child {
	margin-right: 0;
}
.cards li.playing {
	cursor: pointer;
}
.cards .card-name {
	font-weight: bold;
	position: absolute;
	top: 100px; left: 0;
	width: 100%;
	text-align: center;
	font-size: 1.25em;
}
.cards.small .card-name {
	font-size: 1em;
	top: 70px;
}
.cards .card-type {
	position: absolute;
	top: 5px; right: 5px;
}
.cards.small .card-type {
	font-size: 0.75em;
}
.cards li input {
	position: absolute;
	top: 5px; left: 5px;
}
.active .cards li {
	transition: all .25s;
}
.active .cards li:hover {
	box-shadow: 0 0 5px #666;
	top: 0;
}
.active .cards li.selected {
	box-shadow: 0 5px 20px #666;
	top: -5px;
}
#empty-hand {
	color: #999;
}

/* player table */

#player-list {
	float: left;
	width: 260px;
	height: 100%;
	border-right: solid 1px #633;
	padding: 15px 15px 15px 0;
	margin: -20px 0 -20px -5px;
}
#player-list h3, #player-list h2 {
	margin: 15px 0;
}
#player-list h3 {
	font-size: 1.05em;
	font-weight: bold;
}
#players {
	background: rgba(255,255,255,0.5);
	border: solid 1px #ccc;
}
#players td, #players th {
	padding: 10px;
}
#players th {
	background: #eee;
}
#players td a {
	display: inline;
	font-size: 0.75em;
	position: relative;
	top: -1px;
}
#players tr.selected td a {
	color: #fff;
}
#players td.hits {
	text-align: right;
}
#players tr.targetable .target {
	padding-right: 0;
}
#players tr.targetable {
	cursor: pointer;
	background: #fee;
	transition: all 0.15s;
}
#players tr.selected {
	background: #933;
	color: #eee;
}
#players tr.targetable:hover {
	background: #fdd;
}
#players tr.targetable.selected:hover {
	background: #933;
}
#players tr.out td.player {
	text-decoration: line-through;
}
#players td.icon, #players td.vote, #players td.hits {
	text-align: center;
}
#players td.icon {
	font-size: 1.5em;
	position: relative;
}
#players td.icon span {
	position: absolute;
	left: 10px; top: 6px;
}

/* description / action */

#play-area {
	width: calc(100% - 290px);
	float: left;
	border-left: solid 1px #633;
	margin-left: -1px;
	padding-left: 19px;
	margin-bottom: -20px;
	padding-bottom: 20px;
}
#play-area textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	resize: none;
	padding: 5px;
	margin: 0 0 20px;
	outline: 0;
	border: solid 1px #ccc;
	background: rgba(255,255,255,0.5);
}
#play-area textarea.empty {
	color: #999;
}
#play-area input[type=submit], #play-area a {
	font-size: 1em;
	height: 29px;
	font-weight: bold;
	color: #fff;
}
#play-area input[type=submit] {
	background: #393;
	position: relative;
	padding: 5px;
}
#play-area a {
	background: #933;
}
#play-area input[type=submit]:hover {
	background: #3c3;
}
#play-area a:hover {
	background: #c33;
}
#play-area #or {
	position: relative;
	top: -2px;
	padding: 0 10px;
	font-size: 0.75em;
}
#play-area #action {
	text-align: center;
}

/* scenarios */

#scenario p.description {
	padding: 10px;
	margin: 0 0 20px;
	border: solid 1px #ccc;
	background: #eee;
}
#scenario p.description b {
	display: block;
	margin-bottom: 10px;
}
#scenario #actors {
	font-weight: bold;
	font-size: 1.15em;
	margin-bottom: 20px;
}

/* voting */

#vote {
	margin-top: 15px;
	background: #eee;
	border: solid 1px #ccc;
	padding: 10px;
}
#vote h3 {
	margin: 0 0 10px;
	font-weight: bold;
	font-size: 1.5em;
}
#vote div {
	margin: 10px 0;
	transition: all 0.25s;
	color: #000;
}
#vote label {
	display: block;
	cursor: pointer;
}
#vote div input[type=radio] {
	margin-right: 5px;
	transition: all 0.25s;
	color: #000;
}
#vote div:hover input[type=radio] {
	margin-right: 10px;
}
#vote div#dies:hover {
	color: #933;
}
#vote div#lives:hover {
	color: #393;
}
#vote #waiting li {
	margin-top: 10px;
}