/* login */

html {
	margin: 0;
}
body {
	width: 300px;
	height: 220px;
	position: absolute;
	top: 50%; left: 50%;
	margin: -150px 0 0 -150px;
}
h1 {
	font-family: 'Roboto-Slab', serif;
}
input[type=text], input[type=password] {
	background: none;
	border: none;
	border-bottom: solid 1px #caa;
	padding: 5px 0;
	width: 100%;
	margin: 5px 0;
	outline: none;
	color: #666;
}
input[type=text]:focus, input[type=password]:focus {
	border-color: #966;
}
input[type=submit] {
	background: none;
	border: none;
	margin: 20px 0;
	cursor: pointer;
	color: #633;
	padding: 10px;
	width: 100%;
	text-align: left;
}
input[type=submit]:hover {
	background: #633;
	color: #fff;
	border: solid 1px #300;
}
#create {
	position: absolute;
	bottom: -100px; left: 0;
	width: 100%;
	text-align: center;
}
#create a {
	background: rgba(102,51,51,0.85);
	color: #eee;
	padding: 10px;
}
#create a:hover {
	color: #fff;
	background: rgba(102,51,51,0.95);
}
