/* general */

html {
	overflow-y: scroll;
	margin-top: 60px;
	background: #ccc url('../img/wood.jpg') no-repeat fixed;
	min-width: 1040px;
}
body {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	background: rgba(255,255,255, 0.97);
	padding: 0 20px;
	margin: 20px auto 60px;
	border: solid 1px #666;
	box-shadow: 0 0 20px #000;
	width: 1000px;
}
.left {
	float: right;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.hidden {
	display: none;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ccc;
}
#error {
	color: #c00;
	font-weight: bold;
	font-style: italic;
}
input, select { 
	outline: 0; 
}
.seperator {
	border-top: solid 1px #ccc;
	width: calc(100% + 40px);
	margin: 20px -20px;
}
td.seperator {
	width: 100%;
	background: #eee;
	height: 1px;
	border: solid 1px #ccc;
}

/* header */

#header {
	background: #633;
	color: #eee;
	height: 59px;
	border-bottom: solid 1px #300;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	min-width: 1040px;
	box-shadow: 0 0 20px #000;
	z-index: 10;
}
#header a {
	background: rgba(255,255,255,0);
	color: #eee;
	padding: 20px 10px;
	transition: all 0.25s;
	border-bottom: solid 1px transparent;
}
#header a:hover, #header .dropdown:hover {
	color: #fff;
	background: rgba(255,255,255,0.1);
	cursor: pointer;
	border-bottom: solid 1px #fcc;
}
#header h1 {
	font-size: 2em;
	font-weight: bold;
	float: left;
	font-family: 'Roboto-Slab', serif;
	border-right: solid 1px #522;
	margin-top: -3px;
}
#header h1 a {
	padding: 10px;
	display: block;
}
#header #nav {
	float: right;
}
#header #nav li {
	float: left;
	border-left: solid 1px #522;
}
#header #nav li a {
	display: block;
}
#header #nav li:last-child a {
	border-right: solid 1px #522;
}
#header .dropdown {
	position: relative;
	padding: 20px 10px;
	transition: all 0.25s;
}
#header .dropdown ul {
	position: absolute;
	right: 0;
	top: 60px;
	background: #633;
	border: solid 1px #411;
	border-top: none;
	padding: 10px;
	width: 150px;
	z-index: 0;
	display: none;
}
#header .dropdown:hover ul {
	display: block;
}
#header .dropdown a {
	padding: 5px;
	border-bottom: solid 1px #522;
	display: block;
	color: #eee;
}
#header #nav .dropdown li {
	border: none;
}
#header #nav .dropdown li a {
	border: none;
	display: block;
	width: 100%;
}
#header .dropdown li:last-child a {
	border-bottom: none;
}
#header .dropdown a:hover {
	background: transparent;
	text-decoration: underline;
	color: #fff;
}
#header .dropdown .arrow-down {
	position: relative;
	float: right;
	margin: 7px 5px 5px 10px;
}
#header .dropdown:hover .arrow-down {
	border-top-color: #fff;
}
#header .dropdown input[type=text], #header .dropdown input[type=password] {
	width: calc(100% - 15px);
	padding: 5px;
}
#header .dropdown input[type=submit] {
	
}
#header #home-img {
	opacity: 0.75;
	position: relative;
	top: -2px;
}
#header h1:hover #home-img {
	opacity: 1;
}

/* footer */

#footer {
	width: 100%;
	position: fixed;
	bottom: 0; left: 0;
	text-align: center;
	background: #633;
	color: #ccc;
	border-top: solid 1px #300;
	min-width: 750px;
	box-shadow: 0 0 20px #000;
	z-index: 10;
	padding: 10px;
}
#footer a {
	color: #fff;
	text-decoration: underline;
}

/* tables */

table {
	width: 100%;
}
th {
	padding: 5px 0;
	font-weight: bold;
}
td {
	border-top: solid 1px #ccc;
}
td a {
	color: #633;
	display: block;
	padding: 5px 0;
}
td.name {
	width: 100%;
}
td a:hover {
	text-decoration: underline;
}
#cards tr td {
	padding: 5px;
}

/* main */

.content {
	padding: 0 0 20px;
}
.content-header {
	margin: -1px -21px 20px;
	padding: 10px;
	background: #333;
	border: solid 1px #000;
	color: #eee;
}
.button,
.content-header #deck {
	background: #666;
	border: solid 1px #000;
	padding: 4px 5px;
	z-index: 0;
	color: #eee;
}
.button {
	margin-left: -1px;
	color: #eee;
	cursor: pointer;
}
.content-header .button.start, .content-header #join.button {
	background: #393;
}
.content-header .button.delete,
.content-header .button.leave,
#join-close.button {
	background: #c33;
}
.content-header .button.start:hover, .content-header #join.button:hover {
	background: #4a4;
	color: #fff;
}
.content-header .button.delete:hover,
.content-header .button.leave:hover,
#join-close.button:hover {
	background: #a44;
	color: #fff;
}
.content-header h1 {
	font-size: 1.5em;
	font-weight: bold;
	display: inline-block;
	float: left;
}
.content h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 20px 0;
}
.content-header a.button {
	float: right;
}

/* lobby */

#deck {
	position: relative;
	left: 10px;
	float: left;
}
#player-list {
	position: relative;
}
#player-list li {
	list-style-type: square;
	margin: 0 20px;
}
#game-action {
	float: right;
}
#game-action .button {
	/*position: relative;
	top: 5px;*/
}
.wait {
	font-weight: bold;
	margin-top: 20px;
}

/* join game */

#join-shadow {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	z-index: 11;
}
#join-window {
	position: absolute;
	top: 100px; left: 50%;
	width: 300px;
	height: 150px;
	margin: 0 0 0 -170px;
	background: rgba(255,255,255,0.75);
	padding: 20px;
	box-shadow: 0 0 20px #000;
}
#join-close {
	position: absolute;
	top: -1px; right: -1px;
}

/* forms */
.content input[type=text], 
.content input[type=password], 
.content select,
.content input[type=number]
{
	padding: 5px;
	border: solid 1px #ccc;
	font-size: 1em;
	margin-bottom: -1px;
	width: 100%;
}
.content input[type=text], .content select {
	margin-bottom: 20px;
}
.content input[type=text], 
.content input[type=password], 
.content input[type=number] 
{
	width: calc(100% - 10px);
}
.content .content-header input[type=submit] {
	float: right;
	font-size: 1em;
	font-weight: bold;
}
.content select {
	background: #fff;
}